@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-background: #E0E5EC;
    --color-lightblue: #D3D9E8;
    --color-logoblue: #2E3F58;
    --color-up: #228C00;
    --color-greyblue: #646E89;
    --color-text-dark: #020419;
    --color-white: #F4F4F4;

    --card-border-radius: 2rem;
    /*--border-radius-1: 0.4rem;*/
    /*--border-radius-2: 0.8rem;*/
    --border-radius-3: 1.25rem;
    --border-radius-4: 10rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --color-grey: #D9D8D8;
    --color-light: rgba(132, 139, 200, 0.18);

    /*--box-shadow-1: 0px 3.54603px 7.09206px #D9D8D8;*/
    /*--box-shadow-2: 0px 3.54603px 7.09206px rgba(176, 188, 222, 0.8);*/

    --box-shadow: 0 2rem 3rem var(--color-light);

}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100lvh;
    font-family: montserrat, sans-serif;
    font-size: 16px;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-text-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}


/*===============Side================*/
a {
    color: var(--color-background);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.caption {
    color: var(--color-greyblue);
}

/*text-dark{*/
/*    color: var(--color-text-dark);*/
/*}*/

/*text-white{*/
/*    color: white;*/
/*}*/

.lightblue {
    color: var(--color-lightblue);
}

.white1 {
    color: var(--color-white);
}


aside {
    height: 100vh;
}

aside .top-left {
    background: var(--color-background);
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;

}

aside .symbol {
    display: flex;
    gap: 0.8rem;
    margin-left: 2rem;
    margin-top: 0.25rem;
}

aside .symbol img {
    width: 6rem;
    height: 5.8rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1.75rem;
}

aside h3 {
    font-weight: 500;
    font-size: 16px;
}

aside .sidebar a {
    display: flex;
    color: var(--color-greyblue);
    margin-left: 2rem;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: var(--color-white);
    color: var(--color-text-dark);
    justify-content: center;
    margin-left: 2rem;
    padding-right: 0.8rem;
    right: 1rem;
    border-radius: var(--border-radius-4);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

aside .sidebar a.active:hover{
    box-shadow:none;
}

aside .sidebar a.active span {
    color: var(--color-text-dark);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-text-dark);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/*===============Main================*/
main {
    margin-top: 3rem;
    margin-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
main h1 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-logoblue);
}

.topnav{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search{
    position: relative;
    float: right;
}

input[type=text]{
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    font-family: montserrat, sans-serif;
    color: var(--color-text-dark);
    border: 1px solid var(--color-text-dark);
    border-radius: var(--border-radius-4);
    width:20rem;
    background: transparent;
    padding: 0rem 2.75rem 0rem 1rem;
}

.search .material-symbols-rounded {
    color: var(--color-text-dark);
    position: absolute;
    right: 10px;
    top: 18%;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-areas: "header  header header header header"  "header  header header header header" "left left main main main" "bottom bottom main main main";
    gap: 2.5rem;
    height: 85lvh;
    align-content: stretch;
}

.item1 { grid-area: header; }
.item2 {grid-area:left; }
.item3 {grid-area:bottom; }
.item4 { grid-area: main;  }

/*----------hero--------*/
.hero h2 {
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.hero h3 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.hero largetext {
    font-size: 5rem;
    font-weight: 300;
    color: white;
}

.hero {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-3);

    background-image: url("src/gif/cloudy.gif");
    background-position: center;
    background-size: cover;
    box-shadow: var(--box-shadow);

    align-items: flex-end;
    display: flex;

    transition: all 300ms ease;
}

.hero:hover {
    box-shadow: none;
}

.block {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    z-index: 2;
    width: 92%;
    align-items: flex-end;
    justify-content: space-between;
}

.block a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.block b {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    text-align: right;
}

#overlap-img {
    display: none !important;
    position: absolute;
    z-index: 1;
    display: block;

    top: 50%;
    left: 50%;

    width: 98%;
    height: 90%;

    object-fit: cover;
    border-radius: var(--border-radius-3);
}

.hero span {
    font-size: 4rem;
    color: white;
}

/*----------detail--------*/
.detail h2{
    font-weight:400;
    font-size: 1.25rem;
}
.detail {
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

    font-size: 14px;
    font-weight: 700;
    background-color: var(--color-white);

    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2.5rem 1.5rem;
    column-gap: 28px;
    row-gap: 40px;
    justify-content: space-around;
    align-items: center;
}

.detail:hover {
    box-shadow: none;
}

.detail item{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
    align-items: center;
}

.separator{
    position: absolute;
    border: 0.89px solid var(--color-background);
    height: 100%;
    left: 50%;
}

.detail span {
    font-size: 2.5rem;
    color: var(--color-text-dark);
}

.detail item a{
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 4px;
    margin-right: 1rem;
}

/*----------rainfall--------*/
.rainfall{
    background: var(--color-lightblue);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.75rem;
}

.rainfall h2{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

.rainfall h3{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

.rainfall span{
    font-weight: 700;
}
.rainfall:hover {
    box-shadow: none;
}

.rainfall a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 1.25rem;
}

.rainfall b{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    gap: 1.25rem;
    text-align: right;
}

/*----------forecast--------*/

.forecast{
    background: var(--color-white);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

    position: relative;
    padding: 1.125rem 3.4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

.forecast h2{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-text-dark);
}

.forecast p{
    font-size: 14px;
    font-weight: 300;
    color: var(--color-text-dark);
}

.forecast bold{
    font-weight: 700;
}

.forecast spancolor{
    color: var(--color-greyblue);
}

.forecast span{
    color: var(--color-text-dark);
}

.forecast:hover{
    box-shadow: none;
}

.divider{
    position: absolute;
    border: 0.89px solid var(--color-background);
    width: auto;
    top:50%;
    left: 5%;
    right: 5%;
}

.line{
    border: 0.89px solid var(--color-background);
    width: auto;
    margin-top: 2.75rem;

}
.table{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 24px;
    justify-content: space-evenly;
}

.table a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

/*.curve-chart {*/
/*    width: 100%;*/
/*    min-height: 450px;*/
/*}*/



/*}*/



/*===============Media================*/
/*@media screen and (max-width: 768px){*/
/*    .container{*/
/*        width:100%;*/
/*    }*/
/*}*/

/*aside{*/
/*    position: fixed;*/
/*    left: 0;*/
/*    background: var(--color-background);*/
/*    width: 18rem;*/
/*    z-index: 3;*/
/*    box-shadow: 1rem 3rem 4rem var(--color-light);*/
/*    height: 100vh;*/
/*    padding-right: var(--card-padding)；*/
/*    display:none;*/
/*}*/

/*aside.symbol{*/
/*    margin-left: 1rem;*/
/*}*/

/*aside .symbol h3{*/
/*    display: inline;*/
/*}*/

/*aside .sidebar a{*/
/*    width: 100%;*/
/*    height: 3.4rem;*/
/*}*/

/*aside .close{*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*}*/

/*main{*/
/*    margin-top: 8rem;*/
/*    padding: 0 1rem;*/
/*}*/

/*main .rainfall .detail{*/
/*    position: relative;*/
/*    margin: 3rem 0 0 0;*/
/*    width: 100%;*/
/*}*/

/*main .forecast{*/
/*    position: fixed;*/
/*    width: 94%;*/
/*    margin: 0 auto 4rem;*/
/*}*/


